/*
 *custom style;
 */
body{
	font-family: Segoe UI Light;
	/*margin:0 8.333333333333332%;*/
	padding-top: 70px;
}
nav.navbar-default {
	background-color: #00a300;
	opacity: 0.8;
}
nav ul li{
	display: inline-block;
	float: left;
}
nav ul li.empty{
	margin-left: 85%;
}
nav ul li a{
	font-family: Segoe UI Light;
	color: #ffffff;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #008000;
  color: #ffffff;
}
.title img{
	margin-top: -20px;
}
.title h1{
	font-family: Microsoft Yahei UI;
}
.title h4{
	font-family: Segoe UI Light;
	position: relative;
	top: -5px;
	left: 15%;
}
section .carousel{
    margin: 30px 0 50px;
}
section .carousel .carousel-inner img{
	height: 500px;
	width: 100%;
}
section .list-group{
	margin-left: 8.333333333333332%;
}
section .list-group  .list-group-item{
	border: none;
	font-size:40px;
	height: 100px;
	text-align: center;
}
section .board{
	/*background-color: #428bca;*/
	border: 1px solid;
    height: 300px;
}
section .about{
	background-color: #fbfbfb;
	height: 1200px;
	margin-top: 360px;
}
footer{
	margin: 40px 0;

}
footer p{
	display: inline;
	padding-right: 20%;
}