html
{
  overflow-y: scroll;
}

body
{
  padding-top: 70px;
  //background-color: #EEE;
}

#main-login-form
{
  max-width: 330px;
  margin: 0 auto;
}

#main-login-form .form-control
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#main-login-form .form-control:focus
{
  z-index: 2;
}

#main-login-form input[type="text"]
{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#main-login-form input[type="password"]
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#main-login-form .alert
{
  display: none;
  margin-top: 10px;
}

#edit-form-submit
{
  display: block;
  margin-bottom: 15px;
}

.content-field .form-control
{
  display: inline-block;
  width: 23%;
}

.timeinput
{
  display: inline-block;
  width: 35%;
}

#edit-form .alert
{
  display: none;
}

.edit-form-alert
{
  margin-left: 15px;
}
