{% extends "_admin_pages_form.html" %}
{% block other_data_fields %}
<div class="form-group timeinput">
  <label for="start-time">开始时间</label>
  <input type="datetime" class="start-time form-control date" id="start-time" name="start_time" data-date-format="yyyy-mm-dd hh:ii:ss" value="{{ start_time }}">
</div>

<div class="form-group timeinput">
  <label for="end-time">结束时间</label>
  <input type="datetime" class="end-time form-control date" id="end-time" name="end_time" data-date-format="yyyy-mm-dd hh:ii:ss" value="{{ end_time }}">
</div>

<div class="form-group content-fields">
  <label>报名表字段（除姓名、邮箱外）</label>
  {% for field in content_fields %}
  <div class="content-field">
    <input type="text" class="field-name form-control" placeholder="字段名(必填)" value="{{ field.field_name }}">
    <select class="form-control field-type">
      <option value="input" {{ 'selected' if field.field_type == 'input' }}>短文本</option>
      <option value="textarea" {{ 'selected' if field.field_type == 'textarea' }}>长文本</option>
      <option value="number" {{ 'selected' if field.field_type == 'number' }}>数字</option>
      <option value="bool" {{ 'selected' if field.field_type == 'bool' }}>复选框</option>
      <option value="select" {{ 'selected' if field.field_type == 'select' }}>列表选择</option>
    </select>
    {% if field.field_type in ['input', 'textarea'] %}
    <input type="text" class="extra-properties form-control" placeholder="长度范围(默认0,65536)" value="{{ field.min_len }},{{ field.max_len }}">
    {% elif field.field_type == 'number' %}
    <input type="text" class="extra-properties form-control" placeholder="值范围(默认-65536,65535)" value="{{ field.min_val }},{{ field.max_val }}">
    {% elif field.field_type == 'select' %}
    <input type="text" class="extra-properties form-control" placeholder="选项列表(英文逗号分隔)" value="{{ ','.join(field.option_list) }}">
    {% else %}
    <input type="text" class="extra-properties form-control" placeholder="(留空)">
    {% endif %}
    <span class="glyphicon glyphicon-remove remove-field"></span>
  </div>
  {% endfor %}

  <div class="content-field">
    <input type="text" class="field-name form-control" placeholder="字段名(必填)">
    <select class="form-control field-type">
      <option value="input">短文本</option>
      <option value="textarea">长文本</option>
      <option value="number">数字</option>
      <option value="bool">选项</option>
      <option value="select">列表选择</option>
    </select>
    <input type="text" class="extra-properties form-control" placeholder="长度范围(默认0,65536)">
    <span class="glyphicon glyphicon-remove remove-field"></span>
  </div>
  <span class="glyphicon glyphicon-plus add-field"></span>
</div>
{% endblock %}
