<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>微软俱乐部-管理后台-登录</title>
    <meta charset="utf-8">
    <meta name="viewpoint" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/style.css" rel="stylesheet">
    <style>
      body
      {
        background-color: #EEE;
      }
    </style>
  </head>

  <body>

    <div class="container">
      <form id="main-login-form">
        <h2 class="text-center">管理员登录</h2>
        <input type="text" class="form-control" placeholder="用户名" autofocus>
        <input type="password" class="form-control" placeholder="密码">
        <button class="btn btn-lg btn-primary btn-block">登录</button>
        <div class="alert alert-danger"><strong>登录失败！</strong>请检查用户名和密码。</div>
      </form>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bCrypt.js"></script>
    <script src="/static/js/admin.js"></script>
  </body>
</html>
