<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">报名表</h4>
    </div>
    <div class="modal-body">
      <h3 class="text-success text-center" id="sucmsg"></h3>
      <div class="container" id="formbody">
        <input type="hidden" id="csrf" value={{ CSRF_TOKEN() }}>
        <form class="form-inline" role="form">
          <div class="form-group" id="field_name">
            <label class="sr-only" for="name">姓名</label>
            <input type="text" class="form-control" id="name" placeholder="姓名">
          </div>
          <div class="form-group" id="field_email">
            <label class="sr-only" for="email">邮箱</label>
            <input type="email" class="form-control" id="email" placeholder="邮箱">
          </div>
        </form>
        <br>
        <form role="form">
          {% for field in content_fields %}
          {% if field.field_type == "input" %}
          <div class="form-group" id="{{ 'field_content' ~ loop.index0 }}">
            <label>{{ field.field_name }}</label>
            <input type="text" class="form-control content">
          </div>
          {% endif %}
          {% if field.field_type == "textarea" %}
          <div class="form-group" id="{{ 'field_content' ~ loop.index0 }}">
            <label>{{ field.field_name }}</label>
            <textarea class="form-control content" rows="3"></textarea>
          </div>
          {% endif %}
          {% if field.field_type == "number" %}
          <div class="form-group" id="{{ 'field_content' ~ loop.index0 }}">
            <label>{{ field.field_name }}</label>
            <input type="number" class="form-control content">
          </div>
          {% endif %}
          {% if field.field_type == "bool" %}
          <div class="checkbox">
            <label>
              <input type="checkbox" class="content">{{ field.field_name }}
            </label>
          </div>
          {% endif %}
          {% endfor %}
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container pull-left">
        <p class="text-warning" id="errmsg"></p>
      </div>
      <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">取消</button>
      <button type="button" class="btn btn-primary" id="submit" onclick="postForm();">提交报名</button>
    </div>
  </div>
</div>

<script>
    function postForm() {
        $("#submit")[0].disabled = true;
        var content = new Array();
        for (var i = 0; i < $(".content").length; i++)
            if ($(".content")[i].type == "checkbox")
                content.push($(".content")[i].checked);
            else
                content.push($(".content")[i].value);

        $.post("/forms/{{ name }}", {
            CSRF_TOKEN: $("#csrf").val(),
            name: $("#name").val(),
            email: $("#email").val(),
            content: JSON.stringify(content)
            }, function(response) {
                if (response.err_code == 0) {
                    $("#formbody").remove();
                    $("#sucmsg")[0].textContent = response.msg;
                    $("#cancel").text("关闭");
                }
                else {
                    $("#errmsg")[0].textContent = response.msg;
                    if (response.err_field) {
                        $("#" + response.err_field).addClass("has-error");
                        $("#" + response.err_field)[0].children[1].onchange = function() {
                            $("#" + response.err_field).removeClass("has-error");
                        };
                    }
                    $("#submit")[0].disabled = false;
                    $("#csrf").val(response.new_token);
                }
            }, "json");
    }
</script>
