<!DOCTYPE HTML>

<form id="form">
    <input type="hidden" id="csrf" value={{ CSRF_TOKEN }}>
    <table>
        <tr>
            <td>姓名：</td>
            <td><input type="text" id="name"></td>
        </tr>
        <tr>
            <td>邮箱：</td>
            <td><input type="text" id="email"></td>
        </tr>
        {% for field in content_fields %}
        <tr>
            <td>{{ field.field_name }}：</td>
            {% if field.field_type == "input" %}
            <td><input type="text" class="content"></td>
            {% endif %}
            {% if field.field_type == "textarea" %}
            <td><textarea rows="5" cols="60" class="content"></textarea></td>
            {% endif %}
            {% if field.field_type == "number" %}
            <td><input type="number" class="content"></td>
            {% endif %}
            {% if field.field_type == "bool" %}
            <td><input type="checkbox" class="content"></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <p id="response"></p>
    <button id="submit" onclick="postForm();">提交报名</button>
</form>

<script>
    function postForm() {
        $("#submit")[0].disabled = true;
        var content = new Array();
        for (var i = 0; i < $(".content").length; i++)
            if ($(".content")[i].type == "checkbox")
                content.push($(".content")[i].checked);
            else
                content.push($(".content")[i].value);

        $.post("/forms/{{ name }}", {
            CSRF_TOKEN: $("#csrf")[0].value,
            name: $("#name")[0].value,
            email: $("#email")[0].value,
            content: content
            }, function(response) {
                if (response.err_code == 0)
                    $("#form")[0].remove();
                $("#response")[0].textContent = response.msg;
                $("#submit")[0].disabled = false;
            }, "json");
    }
</script>
