{% extends "frame.html" %}
{% block active %}index{% endblock %}
{% block main %}
<div class="row">
  <div id="slides" class="carousel slide">

    <ol class="carousel-indicators">
      <li data-target="#slides" data-slide-to="0" class="active"></li>
      <li data-target="#slides" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <img src="static/img/mstc_zhaoxin.png" alt="Firstslide" /> 
      </div>
      <div class="item">
        <img src="static/img/mstc_lab.jpg" alt="Secondslide" /> 
      </div>
    </div>

    <a class="left carousel-control" href="#slides" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#slides" data-slide="next">
      <span class="icon-next"></span>
    </a>

  </div>
</div>

<div class="row about">
  <div class="bar bg-color-green">
    <p class="col-md-4">What Is MSTC</p>
    <div class="col-md-8 bg-color-darkgreen">
      <img src="../static/img/pic_text_green.png" />
    </div>
  </div>
  <div class="bar bg-color-yellow">
    <div class="col-md-8 bg-color-darkyellow">
      <img src="../static/img/pic_text_yellow.png" />
    </div>
    <p class="col-md-4 right">Our activities</p>
  </div>
  <div class="bar bg-color-lightred">
    <p class="col-md-4">Our Organization</p>
    <div class="col-md-8 bg-color-darkred">
      <img src="../static/img/pic_text_red.png" />
    </div>
  </div>
  <div class="bar bg-color-blue">
    <div class="col-md-8 bg-color-darkblue">
      <img src="../static/img/pic_text_blue.png" />
    </div>
    <p class="col-md-4 right">Our Honor</p>
  </div>
</div>
{% endblock %}
